name: Update index.md

on:
  workflow_run:
    workflows: ["update awesome-stars"]
    types:
      - completed

jobs:
  update-index-html:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install PyYAML

      - name: Update index.md
        run: |
          python - <<EOF
          import yaml
          
          with open('README.md', 'r') as readme_file:
              readme_content = readme_file.read()
          
          with open('index.md', 'r') as index_file:
              index_content = index_file.read()
          
          # Find the end of YAML front matter in index.md
          front_matter_end = index_content.find('---', 3)  # Skip the first '---'
          
          if front_matter_end != -1:
              # Extract the YAML front matter
              front_matter = index_content[:front_matter_end + 3]  # Include the closing '---'
              
              # Replace the content in index.md with the content from README.md
              new_index_content = front_matter + '\n' + readme_content
              
              with open('index.md', 'w') as index_file:
                  index_file.write(new_index_content)
          else:
              print("Could not find the end of YAML front matter in index.md")
          EOF

      - name: Commit changes
        run: |
          git config --local user.email "mail@brennanbrown.ca"
          git config --local user.name "brennanbrown"
          git add index.md
          git commit -m "Update index.md with latest stars" || echo "No changes to commit"
          git push
